@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@96.5,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Nunito:ital,wght@0,200..1000;1,50..1000&display=swap');

* {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
       font-family: "Nunito", sans-serif;
       font-weight: 300;
       scroll-behavior: smooth;

}

body {
       background-size: cover;
       background-color: #f1f1f1;
       background-image: linear-gradient(to bottom, rgba(241, 241, 241), rgb(241, 241, 241)), url(../img/);
}

header {
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 0 80px;
       background-color: rgb(255, 255, 255);
       backdrop-filter: blur(8px);
       gap: 15px;
       position: sticky;
       top: 0;
       z-index: 10;
       border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

header .div-h1-ul {
       gap: 20px;
       display: flex;
       justify-content: center;
       align-items: center;




}

header .div-h1-ul .div-h1-img {
       gap: 12px;
       display: flex;
       justify-content: center;
       align-items: center;




}

header .div-h1-ul .div-h1-img h1 {
       font-size: 24px;
user-select: none;



}

header .div-h1-ul .div-h1-img img {

       width: 35px;
       user-select: none;



}

header .div-h1-ul ul {

       display: flex;



       gap: 20px;
       list-style: none;



}

header .div-h1-ul ul a {

       text-decoration: none;
       color: unset;



}

header .div-h1-ul ul li {

       border-bottom:2px solid transparent ;
       cursor: pointer;
       gap: 8px;
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 15.22px 5px;
       font-size: 18px;
}




header .div-h1-ul ul  .li-home,
.li-pedidos,
.li-conta,
.li-feed
 {

       opacity: 0.4;




}








header .div-h1-ul ul li span {
       font-weight: 600;
}



header .div-h1-ul ul li .Pedido-process {
       width: 8px;
       height: 8px;
       background-color: rgb(28, 62, 212);
       border-radius: 50%;

}



.div-carr-notifi-usuario {
       gap: 15px;
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;

       color: rgb(32, 28, 28);
}

.div-carr-notifi-usuario .itens-quantidade,
.usuario-i-nome {
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       cursor: pointer;


}


.div-carr-notifi-usuario .itens-quantidade i:hover {

       opacity: 1;

}


.div-carr-notifi-usuario .usuario-i-nome {
       display: none;

}


.div-carr-notifi-usuario .itens-quantidade i,
.usuario-i-nome i {
       font-size: 30px;



}


.div-carr-notifi-usuario .itens-quantidade span {
       background-color: rgba(50, 100, 238, 0.562);
       border-radius: 40%;
       padding: 2px 6px;
       color: rgb(255, 255, 255);
       font-size: 10px;
       font-weight: bolder;
       font-weight: 900;
}



.div-carr-notifi-usuario .itens-quantidade .div-search {

       display: flex;

}

@media (max-width:890px) {
       header {

              padding: 10px 80px;

       }
       .div-carr-notifi-usuario .itens-quantidade .div-search {

              display: none;

       }


}

@media (max-width:600px) {


       header {
              border-radius: 0 0 10px 10px;
              background-color: rgb(255, 255, 255);

              border-bottom: 1px solid rgba(0, 0, 0, 0.089);


       }


       header {


              padding: 11px 15px;




       }
}


@media (max-width:890px) {

       header .div-h1-ul ul {

              display: none;





       }
}

@media (max-width:1090px) {

       header {


              padding: 11px unset;




       }





       header .div-h1-ul ul {

              display: non;





       }

}